.yixyp { 
  line-height: 93px;
  border-bottom-width: 13px;
  margin-bottom: 36px;
  margin-left: 42px;
  border-top-width: 17px;
  border-right-width: 40px;
  padding-top: 69px;
  font-size: 69px;
  padding-right: 27px;
  margin-right: 28px;
  border-bottom-width: 37px;
  line-height: 67px;
  margin-right: 78px;
  line-height: 48px;
  font-size: 21px;
  line-height: 13px;
}
