.yixyp { 
  line-height: 93px;
  border-bottom-width: 13px;
  margin-bottom: 36px;
  margin-left: 42px;
  border-top-width: 17px;
  border-right-width: 40px;
  padding-top: 69px;
  font-size: 69px;
  padding-right: 27px;
  margin-right: 28px;
  border-bottom-width: 37px;
  line-height: 67px;
  border-right-width: 40px;
  font-size: 28px;
  padding-top: 15px;
  margin-top: 23px;
  font-size: 33px;
  padding-top: 72px;
  margin-top: 82px;
  border-bottom-width: 34px;
  margin-bottom: 90px;
  margin-right: 69px;
  border-top-width: 73px;
  border-bottom-width: 69px;
  font-size: 53px;
  padding-top: 80px;
  margin-top: 5px;
  padding-left: 93px;
  margin-bottom: 3px;
  line-height: 41px;
  border-top-width: 87px;
  padding-left: 31px;
  padding-right: 8px;
  padding-bottom: 7px;
  line-height: 66px;
  margin-right: 65px;
  padding-left: 4px;
  border-bottom-width: 95px;
  line-height: 49px;
  line-height: 72px;
  font-size: 35px;
  border-right-width: 63px;
  font-size: 56px;
  margin-bottom: 72px;
  margin-top: 12px;
  border-bottom-width: 59px;
  padding-left: 40px;
  margin-right: 69px;
  margin-right: 76px;
  border-bottom-width: 33px;
  padding-right: 57px;
  font-size: 16px;
  font-size: 29px;
  padding-bottom: 13px;
  border-left-width: 64px;
}
